/* You can add global styles to this file, and also import other style files */
.snack-success .mdc-snackbar__surface {
  background-color: #2e7d32 !important;
  color: #ffffff !important;
}

.snack-error .mdc-snackbar__surface {
  background-color: #c62828 !important;
  color: #ffffff !important;
}
